.index {
  color: black;
  height: 100%;
  .index-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    nav {
      padding: 2em 3em;
      width: 21%;
      background-color: #f2f2f2;
      ul {
        li {
          display: block;
          color: $blue-light;
          margin-bottom: 1em;
        }
      }
    }
    section {
      width: 53%;
      margin-left: -1%;
      padding: 2.5em 1.5em;
      background-color: #f2f2f2;
      .table-head {
        display: flex;
        justify-content: space-between;
        border: none;
        background-color: inherit;
        margin-bottom: 0.3em;
        font-weight: 700;
        .name-head {
          width: 32%;
          padding-left: 1em;
        }
        p {
          text-align: right;
          font-size: 0.7rem;
          width: 17%;
          &:last-child {
            width: 10%;
          }
        }
      }
      .blue-border {
        position: absolute;
        top: 17em;
        left: 21.6em;
        background-color: $blue-dark;
        width: 3px;
        height: 70px;
      }

      .daolist-close {
        border: 1px solid #b8b8b8;
        background-color: white;
        border-radius: 10px;
        margin-bottom: 0.1em;
        div {
          display: flex;
          justify-content: space-between;
          cursor: pointer;
          p {
            font-size: 0.9rem;
            font-weight: 700;
            padding: 1.1em 0 0.5em 0;
            text-align: center;
            border-right-style: solid;
            border-width: 1px;
            border-color: #b8b8b8;
            width: 17%;
            &:last-child {
              border-style: none;
              width: 10%;
            }
            img {
              width: 37%;
            }
          }
          .member {
            box-sizing: border-box;
            position: relative;
            img {
              position: absolute;
              top: 0.85em;
              left: 0.8em;
              width: 25%;
            }
          }
          .ethereum {
            padding-left: 1.5em;
            box-sizing: border-box;
            position: relative;
            img {
              position: absolute;
              top: 0.85em;
              left: 0.3em;
              width: 25%;
            }
          }
          .name {
            position: relative;
            text-align: left;
            padding-left: 3em;
            width: 32%;
            img {
              position: absolute;
              top: 1.1em;
              left: 0.8em;
              width: 10%;
              border-radius: 4px;
            }
          }
        }
      }
      .daolist-open {
        background-color: white;
        border: 1px solid #b8b8b8;
        background-color: white;
        border-radius: 10px;
        box-sizing: border-box;
        margin-bottom: 0.1em;
        .daolist-open__wrapper {
          display: flex;
          justify-content: space-between;
          &:first-child {
            cursor: pointer;
            border-bottom-style: solid;
            border-width: 1px;
            border-color: #f8f8f8;
          }
          p {
            font-size: 0.9rem;
            font-weight: 700;
            padding: 1.1em 0 0.5em 0;
            text-align: center;
            border-right-style: solid;
            border-width: 1px;
            border-color: #b8b8b8;
            width: 17%;
            &:last-child {
              border-style: none;
              width: 10%;
            }
            img {
              width: 37%;
            }
          }
          .ethereum {
            padding-left: 1.5em;
            box-sizing: border-box;
            position: relative;
            img {
              position: absolute;
              top: 0.85em;
              left: 0.3em;
              width: 25%;
            }
          }
          .member {
            padding-left: 0em;
            box-sizing: border-box;
            position: relative;
            img {
              position: absolute;
              top: 0.85em;
              left: 0.8em;
              width: 25%;
            }
          }
          .name {
            position: relative;
            text-align: left;
            padding-left: 3em;
            width: 32%;
            img {
              position: absolute;
              top: 1.1em;
              left: 0.8em;
              width: 10%;
              border-radius: 4px;
            }
          }
        }
        .details {
          position: relative;
          .border-left {
            position: absolute;
            top: -3em;
            width: 2px;
            height: 38rem;
            background-color: $blue-light;
          }
          .details-heading__wrapper {
            margin-top: 0.5em;
            border-style: none;
            .details-heading {
              display: flex;
              justify-content: space-between;
              .social-icons {
                position: relative;
                padding-left: 2em;
                margin-top: 0.5em;
                width: 30%;
                box-sizing: border-box;
                height: fit-content;
                img {
                  position: absolute;
                  margin-right: 0;
                  margin-left: 0;
                  width: 10.5%;
                  object-fit: cover;
                  &:nth-child(1) {
                    top: 0.2em;
                    left: 0.9em;
                    width: 7%;
                  }
                  &:nth-child(2) {
                    left: 4em;
                    width: 10.5%;
                  }
                  &:nth-child(3) {
                    left: 5.8em;
                    width: 10.5%;
                  }
                  &:nth-child(4) {
                    left: 7.6em;
                    width: 10.5%;
                  }
                  &:nth-child(5) {
                    left: 9.2em;
                    width: 10.5%;
                  }
                }
              }
              .date {
                margin-top: 1em;
                width: 10%;
                margin-left: -5em;
                p {
                  font-size: 0.7rem;
                  font-style: italic;
                  font-weight: 500;
                  text-decoration: underline;
                  width: 100%;
                }
              }
              .recent-proposal {
                display: flex;
                margin-top: 1em;
                width: 50%;
                p {
                  width: fit-content;
                  margin-left: 11.5em;
                  text-align: left;
                  font-size: 0.8rem;
                  font-weight: 500;
                }
                .recent-proposal__hypen {
                  margin: auto;
                  width: 20%;
                  height: 0.5px;
                  background-color: black;
                }
              }
            }
            .details-paragraph {
              margin-top: 0.5rem;
              display: flex;
              .details-paragraph__wrapper {
                width: 50%;
                font-size: 0.7rem;
                &:nth-child(1) {
                  padding-left: 1em;
                  width: 60%;
                }
                &:nth-child(2) {
                  width: 40%;
                }
                p {
                  margin-bottom: 0.5em;
                  &:nth-child(1) {
                    margin-bottom: 2em;
                  }
                }
                div {
                  display: flex;
                  justify-content: space-between;
                  width: 70%;
                  margin-top: 1.5em;
                  p {
                    margin-right: 0.5rem;
                    &:nth-child(2) {
                      color: rgb(136, 136, 136);
                    }
                  }
                }
                .wallet-address {
                  display: flex;
                  flex-direction: column;
                  margin-top: -1.7em;
                  width: 100%;
                  .wallet-address__wrapper {
                    .image {
                      margin-top: -0.4em;
                      width: 35%;
                      img {
                        width: 4rem;
                        height: 4rem;
                        object-fit: cover;
                        border-radius: 100%;
                      }
                    }
                    .address {
                      display: flex;
                      flex-direction: column;
                      margin-top: 1em;
                      margin-bottom: 0.5em;
                      width: 65%;
                      p {
                        &:first-child {
                          font-size: 1.1rem;
                          margin-bottom: -5em;
                        }
                        &:last-child {
                          font-size: 0.6rem;
                          margin-top: -10.5em;
                        }
                      }
                    }
                  }
                }
                .member-load__more {
                  text-align: right;
                }
              }
              .recent-proposal__wrapper {
                width: 50%;
                font-size: 0.75rem;
                .add-enzyme {
                  margin-left: 3rem;
                  padding-left: 3.3rem;
                  p {
                    width: 13rem;
                    position: relative;
                    padding-left: 0.75em;
                    border-left-style: solid;
                    border-color: $blue-light;
                    &:last-child {
                      padding-left: 8em;
                    }
                    img {
                      position: absolute;
                      left: 10rem;
                      width: 1.5rem;
                      height: 1.5rem;
                      object-fit: cover;
                      border-radius: 100%;
                    }
                  }
                }
                .test-proposal {
                  margin-top: 1em;
                  margin-left: 3rem;
                  padding-left: 3.3rem;
                  p {
                    width: 13rem;
                    position: relative;
                    padding-left: 0.75em;
                    border-left-style: solid;
                    border-color: $blue-light;
                    &:last-child {
                      padding-left: 8em;
                    }
                    img {
                      position: absolute;
                      left: 10rem;
                      width: 1.5rem;
                      height: 1.5rem;
                      object-fit: cover;
                      border-radius: 100%;
                    }
                  }
                }
                .voting-dao__section {
                  padding-top: 1em;
                  margin-left: 2em;
                  .voting-dao__thead {
                    padding-left: 4.6rem;
                    display: flex;
                    justify-content: space-evenly;
                    p {
                      text-decoration: underline;
                      width: 50%;
                    }
                  }
                  .voting-dao__body {
                    padding-left: 4.4rem;
                    font-size: 0.6rem;
                    display: flex;
                    justify-content: space-evenly;
                    p {
                      width: 50%;
                    }
                  }
                }
                .founding-member {
                  margin-top: 2rem;
                  margin-left: 8em;
                  .founding-member__wrapper {
                    display: flex;
                    .founding-member__head-hypen {
                      width: 4rem;
                      height: 1px;
                      margin: auto;
                      background-color: black;
                    }
                  }
                  img {
                    margin-top: 1em;
                    margin-right: 2em;
                    border-radius: 100%;
                    width: 5.5rem;
                    height: 5.5rem;
                    object-fit: cover;
                  }
                }
              }
            }
            .mint-dao__member {
              width: fit-content;
              margin: 2em auto;
              button {
                padding: 0.3em;
                color: $blue-light;
                border: 3px solid $blue-light;
                background-color: white;
                font-size: 1.1rem;
                font-weight: 700;
                font-family: "Poppins", Arial, Helvetica, sans-serif;
              }
            }
          }
        }
      }
      .load-more {
        cursor: pointer;
        text-align: right;
        margin-top: 1em;
        font-size: 0.8rem;
        font-weight: bold;
        padding-right: 1em;
      }
      .index-header {
        position: relative;
        display: flex;
        padding: 0 5em;
        margin-bottom: 1.5em;
        div {
          width: 25%;
          height: 0.05rem;
          background-color: black;
          margin: auto;
        }
        img {
          position: absolute;
          top: -0.6em;
          left: 14.8em;
          width: 5%;
        }
        p {
          margin-left: 2.5em;
          margin-right: 0.5em;
          font-weight: 700;
          font-size: 1.4rem;
        }
      }
    }
    aside {
      width: 21%;
      margin-right: 1.5rem;
      .no-dao__assets {
        background-color: #f2f2f2;
        .no-of__daos {
          padding: 0.5em 0.5em;
          margin-bottom: 0.5em;
          .no-of__daos-header {
            padding-left: 0.2em;
            font-size: 1.1rem;
            font-weight: 700;
          }
          div {
            display: flex;
            justify-content: space-between;
            border: 1px solid #b8b8b8;
            border-radius: 10px;
            padding: 0.5em;
            background-color: white;
            p {
              font-size: 0.9rem;
              span {
                color: $blue-light;
              }
              &:last-child {
                padding: 0 0.3em;
                width: 10%;
                text-align: right;
                border-radius: 10px;
                background-color: rgb(163, 241, 163);
              }
            }
          }
        }
        .total-assets {
          padding: 0.5em 0.5em;
          margin-bottom: 0.5em;
          .total-assets__header {
            padding-left: 0.2em;
            font-size: 1.1rem;
            font-weight: 700;
          }
          div {
            justify-content: space-between;
            border: 1px solid #b8b8b8;
            border-radius: 10px;
            padding: 0.5em;
            background-color: white;
            p {
              font-size: 0.9rem;
              margin-bottom: 0.5em;
              span {
                color: $blue-light;
              }
              &:last-child {
                padding: 0 0.3em;
                width: fit-content;
                text-align: right;
                border-radius: 10px;
                background-color: rgb(163, 241, 163);
              }
            }
          }
        }
      }
      .daos-filter {
        margin-top: 1em;
        width: 20rem;
        div {
          padding: 0.5em;
          background-color: #f2f2f2;
          width: 19rem;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          p {
            cursor: pointer;
            border: 1px solid #b8b8b8;
            font-size: 0.75rem;
            border-radius: 30px;
            margin-top: 0.5em;
            margin-right: 2em;
            background-color: white;
            padding: 0.1em 0.4em;
            width: fit-content;
            &:hover {
              color: $blue-dark;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1025px) {
  .index {
    .body {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto;
      nav {
        width: 90%;
        margin: 0 auto;
        margin-top: 4em;
        margin-bottom: 11em;
        ul {
          margin: 0 auto;
          width: 100%;
        }
      }
      section {
        width: 100vh;
        .table-head {
          margin-top: 2em;
          width: 100vh;
        }
        margin: 0 auto;
        margin-top: -15rem;
        overflow-x: scroll;
        width: 90%;
        .trophy {
          margin: 0 auto;
          margin-left: 4em;
          padding: 0 3em;
          width: 80vh;
          div {
            width: 70%;
          }
          img {
            width: 4%;
            top: -0.2em;
            left: 12.5em;
          }
          p {
            padding-left: 1em;
            font-size: 1rem;
            width: 100%;
            margin-right: 0em;
          }
        }
        .daolist-close {
          width: 96.5vh;
        }
        .daolist-open {
          width: 96.5vh;
        }
        .load-more {
          text-align: left;
        }
      }
      aside {
        margin: 0 auto;
        margin-top: -10em;
        margin-bottom: 17em;
        width: 90%;
        grid-row: 2/3;
        .daos-filter {
          background-color: #f2f2f2;
          width: 100%;
          div {
            margin: 0 auto;
            width: 80%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .index {
    .index-body {
      margin-bottom: 2em;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto;
      nav {
        width: 90%;
        margin: 0 auto;
        margin-top: 6em;
        margin-bottom: 11em;
        ul {
          margin: 0 auto;
          width: 100%;
        }
      }
      section {
        padding-right: 5em;
        width: 100vh;
        .table-head {
          margin-top: 2em;
          width: 101.5vh;
        }
        margin: 0 auto;
        margin-top: -15rem;
        overflow-x: scroll;
        width: 90%;
        .index-header {
          margin: 0 auto;
          margin-left: 4em;
          padding: 0 3em;
          width: 96.5vh;
          div {
            width: 70%;
          }
          .hyphen-right {
            margin-right: 5em;
          }
          img {
            width: 4%;
            top: -0.2em;
            left: 12em;
          }
          p {
            padding-left: 1em;
            font-size: 1rem;
            width: 100%;
            margin-right: 0em;
          }
        }
        .daolist-close {
          width: 101.5vh;
        }
        .daolist-open {
          width: 101.5vh;
        }
        .load-more {
          text-align: left;
        }
      }
      aside {
        margin: 0 auto;
        margin-top: -10em;
        margin-bottom: 17em;
        width: 90%;
        grid-row: 2/3;
        .daos-filter {
          background-color: #f2f2f2;
          width: 100%;
          div {
            margin: 0 auto;
            width: 80%;
          }
        }
      }
    }
  }
}
