@import "./variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
.app {
  background-image: linear-gradient(
    95.81deg,
    $blue-light 2.29%,
    $blue-dark 61.39%
  );
  padding-bottom: 1em;
}
@import "./header";
@import "./nav";
@import "./index";
@import "./add";
@import "./learn";
