* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.app {
  background-image: linear-gradient(95.81deg, #4cb8ff 2.29%, #4685ff 61.39%);
  padding-bottom: 1em;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8rem;
  padding-top: 1em;
  margin-bottom: 1.5em;
}

header .logo {
  width: 60%;
}

header .logo img {
  display: block;
  width: 100%;
}

header .input {
  padding: 2.5em 0;
  position: relative;
  width: 100%;
}

header .input input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 2em;
  color: white;
  background-color: #4685ff;
  border: 1px solid white;
  border-radius: 7px;
  margin-left: 0.5em;
  height: 2.5rem;
  width: 98%;
  position: absolute;
  left: -0em;
}

header .wallet {
  padding: 2.5em 0;
  width: 25%;
}

header .wallet button {
  color: white;
  background-color: #4685ff;
  border: 1px solid white;
  border-radius: 7px;
  padding: 0.7em 0em;
  padding-left: 1em;
  margin-left: 1em;
  width: 80%;
}

@media screen and (max-width: 500px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .logo {
    width: 70%;
    margin: 0 auto;
  }
  header .input {
    width: 73%;
    margin: 0 auto;
    margin-top: -1.3em;
  }
  header .input input {
    width: 100%;
  }
  header .wallet {
    width: 40%;
    margin-top: -3em;
    margin-left: 8em;
  }
}

@media screen and (max-width: 375px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .logo {
    margin-left: 3em;
  }
  header .input {
    margin-left: 2.7em;
  }
  header .input input {
    width: 100%;
  }
  header .wallet {
    width: 45%;
    margin: 0 auto;
    margin-top: -1em;
  }
}

nav {
  text-decoration: none;
  cursor: pointer;
}

nav uL .link {
  text-decoration: none;
}

nav uL li {
  text-decoration: underline;
}

nav uL li img {
  width: 8%;
}

.index {
  color: black;
  height: 100%;
}

.index .index-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.index .index-body nav {
  padding: 2em 3em;
  width: 21%;
  background-color: #f2f2f2;
}

.index .index-body nav ul li {
  display: block;
  color: #4cb8ff;
  margin-bottom: 1em;
}

.index .index-body section {
  width: 53%;
  margin-left: -1%;
  padding: 2.5em 1.5em;
  background-color: #f2f2f2;
}

.index .index-body section .table-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
  background-color: inherit;
  margin-bottom: 0.3em;
  font-weight: 700;
}

.index .index-body section .table-head .name-head {
  width: 32%;
  padding-left: 1em;
}

.index .index-body section .table-head p {
  text-align: right;
  font-size: 0.7rem;
  width: 17%;
}

.index .index-body section .table-head p:last-child {
  width: 10%;
}

.index .index-body section .blue-border {
  position: absolute;
  top: 17em;
  left: 21.6em;
  background-color: #4685ff;
  width: 3px;
  height: 70px;
}

.index .index-body section .daolist-close {
  border: 1px solid #b8b8b8;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 0.1em;
}

.index .index-body section .daolist-close div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.index .index-body section .daolist-close div p {
  font-size: 0.9rem;
  font-weight: 700;
  padding: 1.1em 0 0.5em 0;
  text-align: center;
  border-right-style: solid;
  border-width: 1px;
  border-color: #b8b8b8;
  width: 17%;
}

.index .index-body section .daolist-close div p:last-child {
  border-style: none;
  width: 10%;
}

.index .index-body section .daolist-close div p img {
  width: 37%;
}

.index .index-body section .daolist-close div .member {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.index .index-body section .daolist-close div .member img {
  position: absolute;
  top: 0.85em;
  left: 0.8em;
  width: 25%;
}

.index .index-body section .daolist-close div .ethereum {
  padding-left: 1.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.index .index-body section .daolist-close div .ethereum img {
  position: absolute;
  top: 0.85em;
  left: 0.3em;
  width: 25%;
}

.index .index-body section .daolist-close div .name {
  position: relative;
  text-align: left;
  padding-left: 3em;
  width: 32%;
}

.index .index-body section .daolist-close div .name img {
  position: absolute;
  top: 1.1em;
  left: 0.8em;
  width: 10%;
  border-radius: 4px;
}

.index .index-body section .daolist-open {
  background-color: white;
  border: 1px solid #b8b8b8;
  background-color: white;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0.1em;
}

.index .index-body section .daolist-open .daolist-open__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index .index-body section .daolist-open .daolist-open__wrapper:first-child {
  cursor: pointer;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #f8f8f8;
}

.index .index-body section .daolist-open .daolist-open__wrapper p {
  font-size: 0.9rem;
  font-weight: 700;
  padding: 1.1em 0 0.5em 0;
  text-align: center;
  border-right-style: solid;
  border-width: 1px;
  border-color: #b8b8b8;
  width: 17%;
}

.index .index-body section .daolist-open .daolist-open__wrapper p:last-child {
  border-style: none;
  width: 10%;
}

.index .index-body section .daolist-open .daolist-open__wrapper p img {
  width: 37%;
}

.index .index-body section .daolist-open .daolist-open__wrapper .ethereum {
  padding-left: 1.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.index .index-body section .daolist-open .daolist-open__wrapper .ethereum img {
  position: absolute;
  top: 0.85em;
  left: 0.3em;
  width: 25%;
}

.index .index-body section .daolist-open .daolist-open__wrapper .member {
  padding-left: 0em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.index .index-body section .daolist-open .daolist-open__wrapper .member img {
  position: absolute;
  top: 0.85em;
  left: 0.8em;
  width: 25%;
}

.index .index-body section .daolist-open .daolist-open__wrapper .name {
  position: relative;
  text-align: left;
  padding-left: 3em;
  width: 32%;
}

.index .index-body section .daolist-open .daolist-open__wrapper .name img {
  position: absolute;
  top: 1.1em;
  left: 0.8em;
  width: 10%;
  border-radius: 4px;
}

.index .index-body section .daolist-open .details {
  position: relative;
}

.index .index-body section .daolist-open .details .border-left {
  position: absolute;
  top: -3em;
  width: 2px;
  height: 38rem;
  background-color: #4cb8ff;
}

.index .index-body section .daolist-open .details .details-heading__wrapper {
  margin-top: 0.5em;
  border-style: none;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-heading .social-icons {
  position: relative;
  padding-left: 2em;
  margin-top: 0.5em;
  width: 30%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-heading .social-icons img {
  position: absolute;
  margin-right: 0;
  margin-left: 0;
  width: 10.5%;
  -o-object-fit: cover;
     object-fit: cover;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-heading .social-icons img:nth-child(1) {
  top: 0.2em;
  left: 0.9em;
  width: 7%;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-heading .social-icons img:nth-child(2) {
  left: 4em;
  width: 10.5%;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-heading .social-icons img:nth-child(3) {
  left: 5.8em;
  width: 10.5%;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-heading .social-icons img:nth-child(4) {
  left: 7.6em;
  width: 10.5%;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-heading .social-icons img:nth-child(5) {
  left: 9.2em;
  width: 10.5%;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-heading .date {
  margin-top: 1em;
  width: 10%;
  margin-left: -5em;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-heading .date p {
  font-size: 0.7rem;
  font-style: italic;
  font-weight: 500;
  text-decoration: underline;
  width: 100%;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-heading .recent-proposal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
  width: 50%;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-heading .recent-proposal p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 11.5em;
  text-align: left;
  font-size: 0.8rem;
  font-weight: 500;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-heading .recent-proposal .recent-proposal__hypen {
  margin: auto;
  width: 20%;
  height: 0.5px;
  background-color: black;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .details-paragraph__wrapper {
  width: 50%;
  font-size: 0.7rem;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .details-paragraph__wrapper:nth-child(1) {
  padding-left: 1em;
  width: 60%;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .details-paragraph__wrapper:nth-child(2) {
  width: 40%;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .details-paragraph__wrapper p {
  margin-bottom: 0.5em;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .details-paragraph__wrapper p:nth-child(1) {
  margin-bottom: 2em;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .details-paragraph__wrapper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  margin-top: 1.5em;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .details-paragraph__wrapper div p {
  margin-right: 0.5rem;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .details-paragraph__wrapper div p:nth-child(2) {
  color: #888888;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .details-paragraph__wrapper .wallet-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -1.7em;
  width: 100%;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .details-paragraph__wrapper .wallet-address .wallet-address__wrapper .image {
  margin-top: -0.4em;
  width: 35%;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .details-paragraph__wrapper .wallet-address .wallet-address__wrapper .image img {
  width: 4rem;
  height: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .details-paragraph__wrapper .wallet-address .wallet-address__wrapper .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1em;
  margin-bottom: 0.5em;
  width: 65%;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .details-paragraph__wrapper .wallet-address .wallet-address__wrapper .address p:first-child {
  font-size: 1.1rem;
  margin-bottom: -5em;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .details-paragraph__wrapper .wallet-address .wallet-address__wrapper .address p:last-child {
  font-size: 0.6rem;
  margin-top: -10.5em;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .details-paragraph__wrapper .member-load__more {
  text-align: right;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .recent-proposal__wrapper {
  width: 50%;
  font-size: 0.75rem;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .recent-proposal__wrapper .add-enzyme {
  margin-left: 3rem;
  padding-left: 3.3rem;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .recent-proposal__wrapper .add-enzyme p {
  width: 13rem;
  position: relative;
  padding-left: 0.75em;
  border-left-style: solid;
  border-color: #4cb8ff;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .recent-proposal__wrapper .add-enzyme p:last-child {
  padding-left: 8em;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .recent-proposal__wrapper .add-enzyme p img {
  position: absolute;
  left: 10rem;
  width: 1.5rem;
  height: 1.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .recent-proposal__wrapper .test-proposal {
  margin-top: 1em;
  margin-left: 3rem;
  padding-left: 3.3rem;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .recent-proposal__wrapper .test-proposal p {
  width: 13rem;
  position: relative;
  padding-left: 0.75em;
  border-left-style: solid;
  border-color: #4cb8ff;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .recent-proposal__wrapper .test-proposal p:last-child {
  padding-left: 8em;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .recent-proposal__wrapper .test-proposal p img {
  position: absolute;
  left: 10rem;
  width: 1.5rem;
  height: 1.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .recent-proposal__wrapper .voting-dao__section {
  padding-top: 1em;
  margin-left: 2em;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .recent-proposal__wrapper .voting-dao__section .voting-dao__thead {
  padding-left: 4.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .recent-proposal__wrapper .voting-dao__section .voting-dao__thead p {
  text-decoration: underline;
  width: 50%;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .recent-proposal__wrapper .voting-dao__section .voting-dao__body {
  padding-left: 4.4rem;
  font-size: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .recent-proposal__wrapper .voting-dao__section .voting-dao__body p {
  width: 50%;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .recent-proposal__wrapper .founding-member {
  margin-top: 2rem;
  margin-left: 8em;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .recent-proposal__wrapper .founding-member .founding-member__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .recent-proposal__wrapper .founding-member .founding-member__wrapper .founding-member__head-hypen {
  width: 4rem;
  height: 1px;
  margin: auto;
  background-color: black;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .details-paragraph .recent-proposal__wrapper .founding-member img {
  margin-top: 1em;
  margin-right: 2em;
  border-radius: 100%;
  width: 5.5rem;
  height: 5.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .mint-dao__member {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2em auto;
}

.index .index-body section .daolist-open .details .details-heading__wrapper .mint-dao__member button {
  padding: 0.3em;
  color: #4cb8ff;
  border: 3px solid #4cb8ff;
  background-color: white;
  font-size: 1.1rem;
  font-weight: 700;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.index .index-body section .load-more {
  cursor: pointer;
  text-align: right;
  margin-top: 1em;
  font-size: 0.8rem;
  font-weight: bold;
  padding-right: 1em;
}

.index .index-body section .index-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5em;
  margin-bottom: 1.5em;
}

.index .index-body section .index-header div {
  width: 25%;
  height: 0.05rem;
  background-color: black;
  margin: auto;
}

.index .index-body section .index-header img {
  position: absolute;
  top: -0.6em;
  left: 14.8em;
  width: 5%;
}

.index .index-body section .index-header p {
  margin-left: 2.5em;
  margin-right: 0.5em;
  font-weight: 700;
  font-size: 1.4rem;
}

.index .index-body aside {
  width: 21%;
  margin-right: 1.5rem;
}

.index .index-body aside .no-dao__assets {
  background-color: #f2f2f2;
}

.index .index-body aside .no-dao__assets .no-of__daos {
  padding: 0.5em 0.5em;
  margin-bottom: 0.5em;
}

.index .index-body aside .no-dao__assets .no-of__daos .no-of__daos-header {
  padding-left: 0.2em;
  font-size: 1.1rem;
  font-weight: 700;
}

.index .index-body aside .no-dao__assets .no-of__daos div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #b8b8b8;
  border-radius: 10px;
  padding: 0.5em;
  background-color: white;
}

.index .index-body aside .no-dao__assets .no-of__daos div p {
  font-size: 0.9rem;
}

.index .index-body aside .no-dao__assets .no-of__daos div p span {
  color: #4cb8ff;
}

.index .index-body aside .no-dao__assets .no-of__daos div p:last-child {
  padding: 0 0.3em;
  width: 10%;
  text-align: right;
  border-radius: 10px;
  background-color: #a3f1a3;
}

.index .index-body aside .no-dao__assets .total-assets {
  padding: 0.5em 0.5em;
  margin-bottom: 0.5em;
}

.index .index-body aside .no-dao__assets .total-assets .total-assets__header {
  padding-left: 0.2em;
  font-size: 1.1rem;
  font-weight: 700;
}

.index .index-body aside .no-dao__assets .total-assets div {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #b8b8b8;
  border-radius: 10px;
  padding: 0.5em;
  background-color: white;
}

.index .index-body aside .no-dao__assets .total-assets div p {
  font-size: 0.9rem;
  margin-bottom: 0.5em;
}

.index .index-body aside .no-dao__assets .total-assets div p span {
  color: #4cb8ff;
}

.index .index-body aside .no-dao__assets .total-assets div p:last-child {
  padding: 0 0.3em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
  border-radius: 10px;
  background-color: #a3f1a3;
}

.index .index-body aside .daos-filter {
  margin-top: 1em;
  width: 20rem;
}

.index .index-body aside .daos-filter div {
  padding: 0.5em;
  background-color: #f2f2f2;
  width: 19rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.index .index-body aside .daos-filter div p {
  cursor: pointer;
  border: 1px solid #b8b8b8;
  font-size: 0.75rem;
  border-radius: 30px;
  margin-top: 0.5em;
  margin-right: 2em;
  background-color: white;
  padding: 0.1em 0.4em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.index .index-body aside .daos-filter div p:hover {
  color: #4685ff;
}

@media screen and (max-width: 1025px) {
  .index .body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
  }
  .index .body nav {
    width: 90%;
    margin: 0 auto;
    margin-top: 4em;
    margin-bottom: 11em;
  }
  .index .body nav ul {
    margin: 0 auto;
    width: 100%;
  }
  .index .body section {
    width: 100vh;
    margin: 0 auto;
    margin-top: -15rem;
    overflow-x: scroll;
    width: 90%;
  }
  .index .body section .table-head {
    margin-top: 2em;
    width: 100vh;
  }
  .index .body section .trophy {
    margin: 0 auto;
    margin-left: 4em;
    padding: 0 3em;
    width: 80vh;
  }
  .index .body section .trophy div {
    width: 70%;
  }
  .index .body section .trophy img {
    width: 4%;
    top: -0.2em;
    left: 12.5em;
  }
  .index .body section .trophy p {
    padding-left: 1em;
    font-size: 1rem;
    width: 100%;
    margin-right: 0em;
  }
  .index .body section .daolist-close {
    width: 96.5vh;
  }
  .index .body section .daolist-open {
    width: 96.5vh;
  }
  .index .body section .load-more {
    text-align: left;
  }
  .index .body aside {
    margin: 0 auto;
    margin-top: -10em;
    margin-bottom: 17em;
    width: 90%;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .index .body aside .daos-filter {
    background-color: #f2f2f2;
    width: 100%;
  }
  .index .body aside .daos-filter div {
    margin: 0 auto;
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .index .index-body {
    margin-bottom: 2em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
  }
  .index .index-body nav {
    width: 90%;
    margin: 0 auto;
    margin-top: 6em;
    margin-bottom: 11em;
  }
  .index .index-body nav ul {
    margin: 0 auto;
    width: 100%;
  }
  .index .index-body section {
    padding-right: 5em;
    width: 100vh;
    margin: 0 auto;
    margin-top: -15rem;
    overflow-x: scroll;
    width: 90%;
  }
  .index .index-body section .table-head {
    margin-top: 2em;
    width: 101.5vh;
  }
  .index .index-body section .index-header {
    margin: 0 auto;
    margin-left: 4em;
    padding: 0 3em;
    width: 96.5vh;
  }
  .index .index-body section .index-header div {
    width: 70%;
  }
  .index .index-body section .index-header .hyphen-right {
    margin-right: 5em;
  }
  .index .index-body section .index-header img {
    width: 4%;
    top: -0.2em;
    left: 12em;
  }
  .index .index-body section .index-header p {
    padding-left: 1em;
    font-size: 1rem;
    width: 100%;
    margin-right: 0em;
  }
  .index .index-body section .daolist-close {
    width: 101.5vh;
  }
  .index .index-body section .daolist-open {
    width: 101.5vh;
  }
  .index .index-body section .load-more {
    text-align: left;
  }
  .index .index-body aside {
    margin: 0 auto;
    margin-top: -10em;
    margin-bottom: 17em;
    width: 90%;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .index .index-body aside .daos-filter {
    background-color: #f2f2f2;
    width: 100%;
  }
  .index .index-body aside .daos-filter div {
    margin: 0 auto;
    width: 80%;
  }
}

.add-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.add-body nav {
  padding: 2em 3em;
  width: 21%;
  background-color: #f2f2f2;
}

.add-body nav ul li {
  display: block;
  color: #4cb8ff;
  margin-bottom: 1em;
}

.add-body section {
  width: 53%;
  background-color: #f2f2f2;
}

.add-body section .add-header {
  margin-top: 1.5em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add-body section .add-header div {
  width: 25%;
  height: 0.05rem;
  background-color: black;
  margin: auto;
}

.add-body section .add-header p {
  position: relative;
  padding: 1em 3em;
  font-size: 1.2rem;
  font-weight: 700;
}

.add-body section .add-header p img {
  position: absolute;
  top: 0.7em;
  left: 0.6em;
  width: 17%;
}

.add-body section form {
  margin-top: 2em;
  padding-left: 3em;
  padding-bottom: 2em;
}

.add-body section form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 0.5em;
  width: 27%;
  margin-right: 5%;
  margin-bottom: 3em;
  height: 3rem;
}

.add-body section form input:nth-child(1) {
  width: 58%;
}

.add-body section form input:nth-child(2) {
  width: 25%;
}

.add-body section form textarea {
  width: 91%;
  height: 7rem;
  padding: 1em 1em;
  margin-bottom: 2em;
}

.add-body section form button {
  font-weight: 700;
  padding: 1em 0;
  width: 20%;
}

.add-body aside {
  width: 21%;
  margin-right: 1.5rem;
}

.add-body aside .no-dao__assets {
  background-color: #f2f2f2;
}

.add-body aside .no-dao__assets .no-of__daos {
  padding: 0.5em 0.5em;
  margin-bottom: 0.5em;
}

.add-body aside .no-dao__assets .no-of__daos .no-of__daos-header {
  padding-left: 0.2em;
  font-size: 1.1rem;
  font-weight: 700;
}

.add-body aside .no-dao__assets .no-of__daos div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #b8b8b8;
  border-radius: 10px;
  padding: 0.5em;
  background-color: white;
}

.add-body aside .no-dao__assets .no-of__daos div p {
  font-size: 0.9rem;
}

.add-body aside .no-dao__assets .no-of__daos div p span {
  color: #4cb8ff;
}

.add-body aside .no-dao__assets .no-of__daos div p:last-child {
  padding: 0 0.3em;
  width: 10%;
  text-align: right;
  border-radius: 10px;
  background-color: #a3f1a3;
}

.add-body aside .no-dao__assets .total-assets {
  padding: 0.5em 0.5em;
  margin-bottom: 0.5em;
}

.add-body aside .no-dao__assets .total-assets .total-assets__header {
  padding-left: 0.2em;
  font-size: 1.1rem;
  font-weight: 700;
}

.add-body aside .no-dao__assets .total-assets div {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #b8b8b8;
  border-radius: 10px;
  padding: 0.5em;
  background-color: white;
}

.add-body aside .no-dao__assets .total-assets div p {
  font-size: 0.9rem;
  margin-bottom: 0.5em;
}

.add-body aside .no-dao__assets .total-assets div p span {
  color: #4cb8ff;
}

.add-body aside .no-dao__assets .total-assets div p:last-child {
  padding: 0 0.3em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
  border-radius: 10px;
  background-color: #a3f1a3;
}

@media screen and (max-width: 500px) {
  .add-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
  }
  .add-body nav {
    margin: 0 auto;
    width: 90%;
    margin-top: 5.5em;
    margin-bottom: 1em;
  }
  .add-body section {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    width: 90%;
    margin: 0 auto;
  }
  .add-body section .add-header {
    padding: 0 1.5em;
  }
  .add-body section .add-header div {
    width: 20%;
  }
  .add-body section .add-header p {
    font-size: 0.95rem;
  }
  .add-body section form {
    padding-left: 1.7em;
  }
  .add-body section form input {
    width: 90%;
  }
  .add-body section form input:nth-child(1) {
    width: 90%;
  }
  .add-body section form input:nth-child(2) {
    width: 90%;
  }
  .add-body section form button {
    width: 35%;
  }
  .add-body aside {
    width: 90%;
    margin: 0 auto;
  }
}

.learn-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.learn-body nav {
  padding: 2em 3em;
  width: 21%;
  background-color: #f2f2f2;
}

.learn-body nav ul li {
  display: block;
  color: #4cb8ff;
  margin-bottom: 1em;
}

.learn-body section {
  width: 53%;
  background-color: #f2f2f2;
}

.learn-body section .learn-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.learn-body section .learn-header div {
  width: 25%;
  height: 0.05rem;
  background-color: black;
  margin: auto;
}

.learn-body section .learn-header p {
  position: relative;
  padding: 1em 3em;
  font-size: 1.2rem;
  font-weight: 700;
}

.learn-body section .learn-header p img {
  position: absolute;
  top: 1em;
  left: 0.6em;
  width: 17%;
}

.learn-body section .add-items {
  padding-left: 1.5em;
  width: 95%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
}

.learn-body section .add-items .add-item__wrapper {
  border-radius: 12px;
  margin-left: 0.7em;
  margin-bottom: 0.2em;
  border: 1px solid #b8b8b8;
  background-color: white;
}

.learn-body section .add-items .add-item__wrapper div {
  margin-bottom: 1em;
  padding-left: 0.08em;
}

.learn-body section .add-items .add-item__wrapper div .add-item__wrapper-seperetor {
  background-color: #b8b8b8;
  margin: 0.6em 0;
  margin-left: 28%;
  width: 70%;
  height: 0.05rem;
}

.learn-body section .add-items .add-item__wrapper div button {
  border: none;
  width: 30%;
  font-size: 0.5rem;
  margin-left: 1.25em;
}

.learn-body section .add-items .add-item__wrapper div p {
  width: 50%;
  margin-left: 48%;
  font-size: 0.6rem;
  padding-left: 2em;
  position: relative;
}

.learn-body section .add-items .add-item__wrapper div p img {
  position: absolute;
  left: 0.5em;
  width: 12%;
}

.learn-body section .add-items .add-item__wrapper div .add-item__wrapper-header {
  padding-left: 2.5em;
  width: 100%;
  margin-top: 1em;
  margin-left: 0;
  font-size: 1rem;
}

.learn-body section .add-items .add-item__wrapper div .add-item__wrapper-header img {
  top: 0.2em;
  width: 10%;
}

.learn-body section .load-more {
  margin: 0.5em auto;
  width: 80%;
  font-size: 0.7rem;
  text-align: right;
}

.learn-body section .questions {
  border: 1px solid #b8b8b8;
  border-radius: 10px;
  padding: 0.5em;
  width: 94%;
  margin: 0 auto;
  margin-bottom: 1em;
  background-color: white;
}

.learn-body section .questions .question {
  margin: 0 auto;
  width: 99%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.learn-body section .questions .question p:nth-child(1) {
  font-size: 0.95rem;
  width: 78%;
}

.learn-body section .questions .question p:nth-child(2) {
  margin-top: 0.5em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 0.5rem;
  width: 12%;
}

.learn-body section .questions .question p:nth-child(2) img {
  width: 11%;
}

.learn-body section .questions .question p:nth-child(3) {
  margin-top: 0.2em;
  padding: 0em 1.3em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #f2f2f2;
  font-size: 0.6rem;
  width: 10%;
}

.learn-body aside {
  width: 21%;
  margin-right: 1.5rem;
}

.learn-body aside .no-dao__assets {
  background-color: #f2f2f2;
}

.learn-body aside .no-dao__assets .no-of__daos {
  padding: 0.5em 0.5em;
  margin-bottom: 0.5em;
}

.learn-body aside .no-dao__assets .no-of__daos .no-of__daos-header {
  padding-left: 0.2em;
  font-size: 1.1rem;
  font-weight: 700;
}

.learn-body aside .no-dao__assets .no-of__daos div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #b8b8b8;
  border-radius: 10px;
  padding: 0.5em;
  background-color: white;
}

.learn-body aside .no-dao__assets .no-of__daos div p {
  font-size: 0.9rem;
}

.learn-body aside .no-dao__assets .no-of__daos div p span {
  color: #4cb8ff;
}

.learn-body aside .no-dao__assets .no-of__daos div p:last-child {
  padding: 0 0.3em;
  width: 10%;
  text-align: right;
  border-radius: 10px;
  background-color: #a3f1a3;
}

.learn-body aside .no-dao__assets .total-assets {
  padding: 0.5em 0.5em;
  margin-bottom: 0.5em;
}

.learn-body aside .no-dao__assets .total-assets .total-assets__header {
  padding-left: 0.2em;
  font-size: 1.1rem;
  font-weight: 700;
}

.learn-body aside .no-dao__assets .total-assets div {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #b8b8b8;
  border-radius: 10px;
  padding: 0.5em;
  background-color: white;
}

.learn-body aside .no-dao__assets .total-assets div p {
  font-size: 0.9rem;
  margin-bottom: 0.5em;
}

.learn-body aside .no-dao__assets .total-assets div p span {
  color: #4cb8ff;
}

.learn-body aside .no-dao__assets .total-assets div p:last-child {
  padding: 0 0.3em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
  border-radius: 10px;
  background-color: #a3f1a3;
}

@media screen and (max-width: 500px) {
  .learn-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
  }
  .learn-body nav {
    margin: 0 auto;
    width: 90%;
    margin-top: 5.5em;
    margin-bottom: 1em;
  }
  .learn-body section {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    margin: 0 auto;
    width: 90%;
  }
  .learn-body section .learn-header {
    padding: 0 1.5em;
  }
  .learn-body section .learn-header div {
    width: 20%;
  }
  .learn-body section .learn-header p {
    font-size: 0.95rem;
  }
  .learn-body section .add-item__wrapper {
    width: 90%;
  }
  .learn-body section .add-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .learn-body section .questions .question p:nth-child(1) {
    width: 74%;
    font-size: 0.7rem;
  }
  .learn-body section .questions .question p:nth-child(2) {
    width: 14%;
    font-size: 0.3rem;
  }
  .learn-body section .questions .question p:nth-child(3) {
    padding-left: 2.5em;
    width: 20%;
    font-size: 0.4rem;
  }
  .learn-body aside {
    width: 90%;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=App.css.map */